body {
  background-image: url("../Images/websiteWallpaper2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.background {
  background-color: rgba(0, 0, 0, 0.7);
}

.imgContainer {
  position: relative;
}

.centerImg {
  margin: auto;
  padding: 5px;
}

.setImg { 
  width: auto;
  height: 300px;
  /*margin: auto;*/
  padding-top: 10px;
  padding-bottom: 5px;
}

.times {
  font-family: "Times New Roman", Times, serif;
}

.space {
  padding: 8px;
}

.center {
  text-align: center;
}

.center-children {
  text-align: center;
}
